
	<div data-ng-controller="SidebarCtrl as control">
		<div id="sidebar" class="nav-collapse ">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu">
				<li class="active"><a class="" href="#/index"
					data-ng-click="showList()"> <i class="icon_house_alt"></i> <span>Home</span>
				</a></li>
				<li><a class="" href="#/index" data-ng-click="showUpdates()">
						<i class="icon_genius"></i> <span>Available Updates</span>
				</a></li>
				<li><a class="" href="#/profile"> <i class="icon_piechart"></i>
						<span>My Account</span>
				</a></li>
				<li><a class="" href="#/create"> <i class="icon_piechart"></i>
						<span>Add content</span>
				</a></li>
			</ul>
			<!-- sidebar menu end-->
		</div>
	</div>
